/* src/components/Card.css */
.card {
   background-color: rgb(219, 215, 215);
   border-radius: 8px;
   padding: 12px;
   box-shadow: 0 1px 3px rgba(241, 240, 240, 0.1);
}

.card-header {
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin-bottom: 8px;
}

.ticket-id {
   color: #f0ebeb;
   font-size: 14px;
}

.user-avatar img {
   width: 24px;
   height: 24px;
   border-radius: 50%;
}

.card-title {
   display: flex;
   gap: 8px;
   align-items: flex-start;
   margin-bottom: 8px;
}

.card-title h3 {
   font-size: 14px;
   font-weight: normal;
   margin: 0;
}

.priority-icon {
   font-size: 16px;
}

.card-tags {
   display: flex;
   gap: 8px;
   flex-wrap: wrap;
}

.tag {
   background-color: #f4f5f8;
   padding: 2px 8px;
   border-radius: 4px;
   font-size: 12px;
   color: #eae8e8;
}